<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
                 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, kq-scalable=no" />
    <title>后台管理系统模板</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <meta name="keywords" content="模板">
    <meta name="description" content="后台管理系统">
    <meta name="author" content="SoulCoder">
    <div th:include="~{views/common/include :: cssStyle }"></div>
</head>
<body>
<div class="coder-layout-web">
    <div class="coder-layout-container">
        <!--左侧导航-->
        <div th:include="~{views/common/include :: #asideStyle }"></div>
        <!--End 左侧导航-->
        <!--头部信息-->
        <div th:include="~{views/common/include :: #headerStyle }"></div>
        <!--End 头部信息-->
        <!--页面主要内容-->
        <main class="coder-layout-content">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-toolbar clearfix">
                                <!-- 查询搜索框start-->
                                <div id="toolbar">
                                    <div class="my-container">
                                        <label class="myLabel-content">学生名称：</label>
                                        <div class="myText-content">
                                            <input id="q_username" name="username" type="text" class="form-control" placeholder="输入学生名称">
                                        </div>
                                    </div>

                                    <div class="myBtn-content">
                                        <button id="search" type="button" class="btn itfxq-btn-search" data-toggle="modal" data-method="search">
                                            <i class="mdi mdi-account-search"></i>搜索</button>
                                    </div>
                                </div>
                                <!-- 查询搜索框end-->
                                <!-- 按钮区start-->
                                <div class="toolbar-btn-action">
                                    <button  type="button" sec:authorize= "hasRole('学生权限')" class="btn itfxq-btn-add" data-toggle="modal" data-method="upKq" >
                                        <i class="mdi mdi-alarm-check"></i>上课签到
                                    </button>
                                    <button  type="button" sec:authorize= "hasRole('学生权限')" class="btn btn-danger" data-toggle="modal" data-method="downKq" >
                                        <i class="mdi mdi mdi-alarm-snooze"></i>放学签到
                                    </button>
                                </div>
                                <!-- 按钮区end-->
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="kqTable" ></table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<div th:include="~{views/common/include :: #jsStyle}"></div>
<script type="text/javascript"  th:src="@{/static/js/jquery.serialize-object.min.js}"></script>

<!--图表插件-->
<script type="text/javascript">

    $(document).ready(function(e){
        $('#kqTable').bootstrapTable({
                      url: '/kq/listpage',                      //请求后台的URL（*）
                      method: 'GET',                      //请求方式（*）
                       //toolbar: '#toolbar',              //工具按钮用哪个容器
                      striped: true,                      //是否显示行间隔色
                      cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                      pagination: true,                   //是否显示分页（*）
                      sortable: true,                     //是否启用排序
                      sortOrder: "asc",                   //排序方式
                      sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                      pageNumber: 1,                      //初始化加载第一页，默认第一页,并记录
                      pageSize: 10,                     //每页的记录行数（*）
                      pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                      iconsPrefix: 'mdi', // 自定义表格右上角的图标，这个必须要定义，因为不是官方模板，icon图标样式名字不同会导致图标无法显示
                      icons:  {
                            refresh: 'mdi-refresh',              // 刷新图标
                            columns: 'mdi-format-list-bulleted', // 列图标
                            toggleOff: 'mdi-toggle-switch-off',  // 切换光
                            toggleOn: 'mdi-toggle-switch',       // 切换开
                            detailOpen: 'mdi-plus',              // 详情开
                            detailClose: 'mdi-minus',            // 详情光
                            fullscreen: 'mdi-fullscreen'         // 全屏图标
                        },
                      search: false,                      //是否显示表格搜索
                      strictSearch: true,
                      showColumns: true,                  //是否显示所有的列（选择显示的列）
                      showRefresh: true,                  //是否显示刷新按钮
                      minimumCountColumns: 2,             //最少允许的列数
                      clickToSelect: true,                //是否启用点击选中行
                      //height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                      uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                      showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
                      cardView: false,                    //是否显示详细视图
                      detailView: false,                  //是否显示父子表
                      singleSelect: false, //开启单选,想要获取被选中的行数据必须要有该参数
                       queryParams : function(params) {//上传服务器的参数
                        var temp = {
                            offset :params.offset + 0,// SQL语句起始索引
                            pageSize : params.limit,  // 每页显示数量
                            username:params.username
                        };
                        return temp;
                        },
            columns: [
                {
                    align : 'center',
                    checkbox: true
                },{
                field: 'id',
                title: '考勤编号'
            }, {
                field: 'user.username',
                title: '学生姓名'
            },{
                    field: 'upClassTime',
                    title: '上课打卡时间'
                },
                {
                    field: 'isLater',
                    title: '是否迟到',
                    formatter:isLaterFarmatter
                },

                {
                    field: 'downClassTime',
                    title: '下课打卡时间'
                },
                {
                    field: 'isLeave',
                    title: '是否早退',
                    formatter:isLeaveFarmatter
                }]
        });
        //是否迟到
        function isLaterFarmatter(value,row, index){
            if(row.upClassTime){
                var year =  new Date(row.upClassTime).getFullYear();
                var month =  new Date(row.upClassTime).getMonth()+1;
                var date =  new Date(row.upClassTime).getDate();
                var upClassTime = new Date(row.upClassTime);

                var deadlineStr = year + "/" + month + "/" + date + " " + "9:00:00";
                var deadline = Date.parse(deadlineStr);

                if (upClassTime > deadline) {
                    return "<span class=\"label label-danger\">迟到了</span>";
                } else {
                    return "<span class=\"label label-info\">正常考勤</span>";
                }
            }
            return "<span class=\"label label-info\">无考勤</span>";

        }
        //是否早退
        function isLeaveFarmatter(value,row, index){
            if(row.downClassTime){
                var year =  new Date(row.downClassTime).getFullYear();
                var month =  new Date(row.downClassTime).getMonth()+1;
                var date =  new Date(row.downClassTime).getDate();
                var downClassTime = new Date(row.downClassTime);

                var deadlineStr = year + "/" + month + "/" + date + " " + "18:00:00";
                var deadline = Date.parse(deadlineStr);

                if (downClassTime < deadline) {
                    return "<span class=\"label label-danger\">早退了</span>";
                } else {
                    return "<span class=\"label label-info\">正常考勤</span>";
                }
            }
            return "<span class=\"label label-info\">无考勤</span>";
        }





    })



    $(document).ready(function(e) {
        $("button,a").on('click',function(){
            //获取到 a标签里面配置 data-method
            var methodName = $(this).data('method');
            if(methodName){
                doMethod[methodName]();
            }
        });
        var doMethod = {
            upKq:function(){

                //判断是否意见考勤过了

                //上课考勤
                $.ajax({
                    type: "post",
                    url: "/kq/upKq",
                    success: function (data) {
                        if (data.isSuccess) {
                            $("#kqTable").bootstrapTable("refresh");
                        }else{
                            $.alert({
                                title:'温馨提示',
                                type:'red',
                                content:'已经签到了,不能重复签到！'
                            })
                        }
                    }
                });
            },
            downKq:function(){
                //下课考勤
                $.ajax({
                    type: "post",
                    url: "/kq/downKq",
                    success: function (data) {
                        if (data.isSuccess) {
                            $("#kqTable").bootstrapTable("refresh");
                        }else{
                            $.alert({
                                title:'温馨提示',
                                type:'red',
                                content:'已经签到了,不能重复签到！'
                            })
                        }
                    }
                });
            },
            delBatch:function(){
                var delRows= $("#kqTable").bootstrapTable("getSelections");
                if(delRows.length<=0){
                    $.confirm({
                        title: '温馨提示',
                        content: '请选中一行进行删除',
                        type: 'green',
                        buttons: {
                            omg: {
                                text: '谢谢',
                                btnClass: 'btn-green',
                            }
                        }
                    });
                }else {
                    $.confirm({
                        title: "温馨提示！",
                        content: "确定要删除它们吗？",
                        type: 'green',
                        buttons: {
                            omg: {
                                text: '确定',
                                btnClass: 'btn-green',
                                action:function(){
                                    var ids = "";
                                    for(var i=0;i<delRows.length;i++){
                                        var row = delRows[i];
                                        ids=ids+row.id+",";
                                    }
                                      ids+="0";
                                        $.ajax({
                                            type: "post",
                                            url: "/kq/deleteBatchCourse",
                                            data: {"ids":ids},
                                            success: function (data) {
                                                if (data.isSuccess) {
                                                    $("#kqTable").bootstrapTable("refresh");
                                                }
                                            }
                                        });
                                }
                            },
                            close: {
                                text: '取消'
                            }
                        }
                    });
                }
            },
            add:function(){
                $('#kqAddModal').modal({
                    show: true,
                    backdrop:'static'
                });

            },
            search:function(){

                var username = $("#q_username").val();
                var queryparam = {
                    silent:true,
                    query:{
                        username:username
                    }
                };
                $('#kqTable').bootstrapTable('refresh',queryparam);

            },
            save:function(){
                //提交表单
                var bootstrapValidator = $('#kqAddForm').data('bootstrapValidator');
                var formParamObj =  $("#kqAddForm").serializeObject();
                console.log(formParamObj);
                bootstrapValidator.validate();

                if (bootstrapValidator.isValid()) {
                    //验证通过
                    $.ajax({
                        url: "/kq/addCourse",
                        async: false,
                        type: "POST",
                        data: formParamObj,
                        success: function (data) {
                            if (data.isSuccess) {
                                $('#kqAddModal').modal('hide');
                                $('#kqTable').bootstrapTable('refresh');
                            } else if ("403" == data) {
                                alert("你无权访问");
                                $('#kqAddModal').modal('hide');
                            }

                        }
                    });

                }

            },
            editSave:function(){
                //提交表单
                var bootstrapValidator = $('#kqEditForm').data('bootstrapValidator');
                var formParamObj =  $("#kqEditForm").serializeObject();
                bootstrapValidator.validate();
                if (bootstrapValidator.isValid()) {
                    //验证通过
                    $.ajax({
                        url: "/kq/editSaveCourse",
                        async: false,
                        type: "POST",
                        data: formParamObj,
                        success: function (data) {
                            if (data.isSuccess) {
                                $.confirm({
                                    title: '温馨提示',
                                    content: '修改成功',
                                    type: 'green',
                                    buttons: {
                                        omg: {
                                            text: '谢谢',
                                            btnClass: 'btn-green',
                                        }
                                    }
                                });
                                $('#kqEditModal').modal('hide');
                                $('#kqTable').bootstrapTable('refresh');
                            } else if ("403" == data) {
                                alert("你无权访问");
                                $('#kqEditModal').modal('hide');
                            }

                        }
                    });

                }

            }

        }





        //验证规则
        $('#kqAddForm,#kqEditForm').bootstrapValidator({
            live: 'enabled',//字段值有变化就触发验证 disabled,submitted 当点击提交时验证并展示错误信息
            message: '信息不合法',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    message: '名称不合法',
                    validators: {
                        notEmpty: {
                            message: '名称必须填写,不能为空'
                        }
                    }
                }
            }
        });
    })


</script>



<style>
    .my-container {
        float: left;
        display: inline-block;
        margin-right:30px;
    }

    .myLabel-content ,.myText-content,.myBtn-content{
        float: left;
        display: inline-block;
        line-height: 40px;
        margin-left: 10px;
    }
    .myLabel-content,.myText-content input[type='text'],.myBtn-content .btn {
        height: 38px;
        font-size: 15px;
    }
    .myBtn-content .btn {
        margin-bottom: 10px;
        margin-right: 20px;
    }
</style>



</body>
</html>
